@model IEnumerable<ClientesWebMvc.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.DataRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeOuRazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobrenomeOUNomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgOuIe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrGaoExpedidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfOuCpnj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeOuRazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobrenomeOUNomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RgOuIe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrGaoExpedidor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfOuCpnj)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


